@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'variables';

html,
html.dark {
  /* Generic and large group Declarations */
  p,
  .color-twitter-dark-gray,
  .compose-text {
    color: $primary-text-color;
  }

  a,
  .color-twitter-darker-gray,
  .other-replies,
  .facet-subtitle {
    color: $dark-text-color !important;

    &:hover {
      color: $dark-text-color;
      text-decoration: underline;
    }

    .other-replies-link {
      color: $ui-primary-color !important;
    }
  }

  div { font-family: "Roboto"; -webkit-font-smoothing: none; }
  h1 { font-family: "Segoe UI", "Roboto"; font-weight: bold; }

  a[rel="hashtag"],
  a[rel="user"],
  .link-complex-target,
  .color-twitter-blue {
    color: $ui-primary-color !important;
  }

  img.tweet-avatar,
  img.avatar {
    border-radius: 8px;
    border: solid 2px $panel-border;
  }

  .media-caret {
    border-top-color: $ui-highlight-color;
  }

  .reply-triangle {
    border-bottom-color: $ui-highlight-color;
  }

  .icon-follow-color {
    color: $ui-highlight-color;
  }

  .media-item.media-size-large:after,
  .media-size-large-height:after {
    display: none;
  }

/* Backgrounds */
  .app-columns-container,
  .app-content {
    background: $base-color-diamonds;
    background-attachment: fixed;
  }

  .app-header {
    background: $highlight-color-diamonds;
  }

  .app-navigator,
  .app-title,
  .old-composer-footer,
  .scroll-conversation {
    background: transparent;
  }

  .bg-color-twitter-white {
    background-color: $ui-base-color;
  }

  .column-panel,
  .column,
  .column-background-fill {
    background: transparentize($ui-base-lighter-color, 0.7);
  }

  .drawer-header {
    background: $highlight-color-diamonds !important;
    color: $darker-text-color;
  }

/* Column general */
  .column {
    &-message {
      background: desaturate(darken($ui-base-color, 5%),18%);
    }

    &-header {
      background: desaturate(darken($ui-base-color, 12%),18%);
      color: $primary-text-color;
      border-bottom: none;

      &-link {
        color: $primary-text-color;
      }

      .column-type-icon {
        color: $primary-text-color;
      }
    }

    .with-column-divider-bottom {
      border-color: $panel-border;
    }

    &-options {
      background: #f6fae1;

      .accordion {
        color: $primary-text-color;

        .facet-type {
          border-color: $panel-border;

          &.is-active {
            background: transparent;
          }

          .accordion-header {
            color: $primary-text-color;
          }
        }
      }

      .button-tray {
        background-color: transparent;
      }
    }

    .attribution {
      color: $primary-text-color;
    }

    .thread {
      background-color: $scrollbar-color;
    }

    &-nav { /* Sidebar */
      &-item {
        background: transparent;
        color: $primary-text-color;
        text-shadow: $panel-box-shadow;

        &:hover {
          text-shadow: none;
        }
      }

      &-link,
      &-updates {
        color: $primary-text-color !important;
      }
    }
  }

  .is-new {
    .column {
      &-header {
        .column-type-icon {
          color: $ui-highlight-color;
        }
      }
    }
  }

  /* Detailed Conversations */
  .js-detail-content {
    background: transparentize($ui-base-lighter-color, 0.5);

    .item-box {
      margin-bottom: 3px;
    }

    .tweet {
      &-detail {
        &-wrapper {
          background: $panel-background;
          margin-top: 0;
          border: solid 2px $panel-border;
          padding-top: 4px;
          margin-right: 2px;
          border-radius: 8px;
        }

        &-actions {
          border-top: 1px solid $panel-border;
        }

        &-action {
          color: lighten($darker-text-color, 25%) !important;
        }
      }

      &-stats {
        border-top: 1px solid $panel-border;
      }
    }

    .detail-view-inline {
      border: none;
      margin-top: 8px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      padding: 0 !important;

      &-text {
        border: 1px solid $panel-border;
        background-color: $ui-base-color;
        color: $primary-text-color;
      }
    }

    .inline-reply {
      margin-top: 9px;
    }
  }

/* Sidebar (Remainder) */

 .app {
   &-search-fake {
     color: $primary-text-color;
     border: solid 1px $primary-text-color;
   }

   &-nav {
    &-link,
    &-tab {
       color: $primary-text-color !important;
       text-shadow: $panel-box-shadow;

       &:hover {
         color: $darker-text-color;
         text-shadow: none;
         background: rgba(255,255,255,0.5)
       }

       &.is-selected {
         background: rgba(255,255,255,0.3);
         text-shadow: none;
       }
     }
   }
 }

 .Button,
 button {
   background-color: $ui-highlight-color;
   border-color: $ui-highlight-color;
   color: $darker-text-color;

   &:hover {
     background-color: lighten($ui-highlight-color, 10%);
   }

   &.Button {
    &--primary,
    &--link {
       background-color: $ui-base-lighter-color;
       border-color: $ui-base-lighter-color;
       border-radius: 8px;
       color: $primary-text-color;

       &.is-disabled {
         background-color: desaturate($ui-base-lighter-color, 60%);
         border-color: desaturate($ui-base-lighter-color, 60%);
       }

       &:hover {
         background-color: darken($ui-base-color, 20%);
       }
     }
   }

   &.btn-options {
     &-tray {
       color: $primary-text-color !important;
       &:hover,
       &:focus {
         color: $darker-text-color !important;
       }
     }
   }

   &.btn-on-dark {
     background-color: $ui-highlight-color;

     &:hover {
       background-color: darken($ui-highlight-color, 10%);
       color: #FFF;
       box-shadow: none;
     }

     &:active,
     &:focus {
       background-color: darken($ui-highlight-color, 10%);
       color: #FFF;
       box-shadow: none;
     }
   }
 }

 .btn-on-blue {
   background-color: desaturate(darken($ui-base-color, 12%),18%);
   color: $primary-text-color;

   &:hover,
   &:focus {
     background-color: darken($ui-base-color, 20%);
     color: $primary-text-color;
   }

   &:active {
     background-color: darken($ui-base-color, 30%);
     color: $primary-text-color;
     box-shadow: none;
   }
 }

 .compose {
   background: $highlight-color-diamonds;
   color: $primary-text-color;

   &-header {
     border-color: $panel-border;
   }

   &-accounts {
     .compose-account img {
       border-radius: 8px;
       border: solid 2px $panel-border;
     }
   }

   &-text-title,
   &-message-header {
     color: $darker-text-color;
   }
 }

 .attach-compose-buttons {
   button.tweet-button,
   .Button.tweet-button {
     background: rgba(255,255,255,0.4);
     color: $darker-text-color;
   }
 }

/* Muted Text */
  .txt-mute,
  .stat-word {
    color: lighten($dark-text-color, 15%);

    p {
      color: lighten($primary-text-color, 15%);
    }

    &.username { /* NOT ACTUALLY MUTED */
      color: $dark-text-color;
    }

    a {
      color: lighten($dark-text-color, 15%);
    }

    a[rel="user"],
    a:not(:hover):not(:focus),
    .link-complex-target {
      color: lighten($ui-primary-color, 15%);
    }
  }

/* Statuses */
  .item-box {
    padding: 4px 10px;
    margin-bottom: 6px;

    &-full-bleed.js-media.margin-tm { /* "Large Media" */
      margin: -8px -1px 0px !important;
      border: solid 2px $panel-border;
      border-radius: 8px;
      background: $panel-background;
      width: 100%;

      .media {
        &-caret {
          top: 0;
        }

        &-grid-{
          &2,
          &2-mirror,
          &3,
          &3-mirror,
          &4 {
            .media-image {
              border-radius: 8px;
            }
          }
        }

        &-size {
          &-large {
            border-radius: 8px;
          }
        }
      }
    }

    .margin-tm {
      margin-top: 0 !important;
    }

    .margin-t--20 {
      margin-top: 0 !important;
    }
  }

  .stream-item,
  .stream-item:not(:hover),
  .stream-item:not(.is-selected-tweet) {
    background: transparent;
    border-bottom: none;

    .nbfc {
      color: $dark-text-color;
    }

    .tweet {
      padding-top: 6px;
      padding-bottom: 4px;
      margin-right: -9px;
      margin-left: -9px;
      background: $panel-background;
      border-radius: 8px;
      border: solid 2px $panel-border;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);

      &-header {
        padding-left: 3px;
      }

      &-footer {
        margin-top: 1px;
        margin-bottom: 2px;
      }

      &-img {
        margin-left: -45px;
      }

      &-avatar {
        border-radius: 8px;
        border: solid 2px $panel-border;
      }

      &-timestamp {
        margin-right: 5px;
        a {
          color: $dark-text-color;
        }
      }

      &-body {
        padding-left: 3px;
        margin-right: 5px;
        margin-bottom: 3px;
      }

      &-message {
        .l-table {
          margin-top: -20px;
        }
      }
    }

    .inline-reply {
      background-color: rgba(255,255,255,0.3);
      color: $primary-text-color;
      margin-top: 0;
    }

    .quoted-tweet {
      border: solid 1px $panel-border;
      border-color: $panel-border;
    }

    &.gap-chirp {
      color: $darker-text-color;
      background: rgba(255,255,255,0.5);

      &::before,
      &::after {
        display: none;
      }
    }

    .tweet-action {
      color: lighten($darker-text-color, 25%) !important;

      &:hover,
      &.js-reply-action:hover,
      a[rel="actionsMenu"]:hover {
        color: $primary-text-color !important;
      }
    }

    &[data-key^="favorite"],
    &[data-key^="retweet"] {
      .js-show-detail {
        padding-top: 6px;
        padding-bottom: 0;
        background: $panel-background;
        border-radius: 8px;
        border: solid 2px $panel-border;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        opacity: 0.8;

        .activity-header {
          margin-left: -30px;
        }

        .tweet {
          padding-left: 4px;
          padding-right: 8px;

          &-img {
            margin-left: 215px;
            margin-top: -25px;
          }
        }
      }
    }

    &[data-key^="follow"] {
      background: $panel-background;
      border-radius: 8px;
      border: solid 2px $panel-border;
      margin-bottom: 6px;

      .account-bio {
        color: $primary-text-color !important;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

/* Modals & Profiles */

  .mdl {
    background: $panel-background;
    border: solid 2px $panel-border;
    color: $primary-text-color;

    &-dismiss {
      color: $primary-text-color;
    }

    &-header,
    &-content {
      color: $primary-text-color;
    }

    &-header-divider {
      border-bottom: solid 1px $panel-border;
    }

    .lst li {
      color: $primary-text-color;
      border-bottom: solid 1px $panel-border;
    }

    &.s-full { /* Media Details Modal */

    }

    .prf { /* Profile Modal */
      &-header {
        &-inner-overlay {
          height: 100%;
          background-image: none;
          background-color: rgba(0,0,0,0.3);
        }

        .prf-siteurl {
          color: $dark-text-color;
        }

        .prf-bio,
        .location {
          color: lighten($primary-text-color, 20%);

          a {
            color: $ui-primary-color;
          }
        }
      }

      .social-proof-container {
        border-bottom: solid 1px $panel-border;
      }

      .fullname,
      .username {
        color: $ui-primary-color;
      }

      .lst-profile {
        a {
          border-right: 1px solid $panel-border;

          i,
          span {
            color: $primary-text-color;

            &:hover {
              color: $darker-text-color;
            }
          }
        }
      }

      &-meta {
        border-bottom: solid 1px $panel-border;
        border-top: solid 1px $panel-border;
        background: transparent;

        .prf-stats {
          color: $primary-text-color;
          a {
            color: $primary-text-color;

            strong {
              color: $darker-text-color;

              &:hover {
                color: $darker-text-color;
              }
            }

            &:hover {
              color: $darker-text-color;
              background: rgba(255,255,255,0.4);
            }
          }

          li+li a {
            border-left: solid 1px $panel-border;
          }
        }
      }
    }

    &-column-med {
      background: transparent;

      .list-account {
        .fullname,
        .username {
          color: $ui-primary-color;
        }
      }
    }

    &-column-rhs,
    &-content {
      border-color: $panel-border;
    }

    .column-header-temp {
      background: desaturate(darken($ui-base-color, 12%),18%);
      border-color: $panel-border;

      .column-title .attribution {
        color: $primary-text-color;
      }
    }

    .lst-launcher {
      a {
        span {
          color: $ui-primary-color;
        }
      }
    }

    .account {
      &-summary {
        .item-img img {
          border-radius: 8px;
          border: solid 2px $panel-border;
        }

        .account-bio {
          color: $primary-text-color;
        }
      }
    }

    .frm { /* Settings Modal */
      color: $primary-text-color;

      .list-filter {
        color: $primary-text-color;
      }
    }
  }

  /* Dropdown Menu & Search */
  .dropdown-menu,
  .popover {
    background-color: lighten($ui-highlight-color, 25%);

    .list-item {
      color: $primary-text-color;
    }

    li {
      a {
        color: $primary-text-color !important;
      }
    }

    .is-selected {
      background-color: lighten($ui-highlight-color, 10%);
      color: $darker-text-color;
    }

    .drp-h-divider {
      border-bottom: solid 1px $panel-border;
    }
  }

  input,
  .column-title-edit-box {
    border: 1px solid $panel-border;
    background-color: $ui-base-color;
    color: $primary-text-color;

    &:active,
    &:focus {
      border-color: lighten($panel-border, 10%);
      box-shadow: inset 0 1px 3px rgba(20,23,26,.1), 0 0 8px $panel-shadow;
    }
  }

  /* Account Pullout */
  .account-settings-row {
    background: $panel-background;
  }

  .js-account-settings-team-info {
    color: $darker-text-color !important;
    background: desaturate(darken($ui-base-color, 12%),18%);
  }

  .js-account-settings-scroll-container {
    .nbfc {
      p {
        color: $primary-text-color !important;
      }
    }
  }

  /* Scrollbar */
  .scroll-styled-v,
  .scroll-styled-h {
    ::-webkit-scrollbar-thumb {
      background: $scrollbar-color;
      border-radius: 50px;
    }

    ::-webkit-scrollbar-thumb:hover,
    ::-webkit-scrollbar-thumb:active {
      background: lighten($scrollbar-color, 10%);
    }

    ::-webkit-scrollbar-track:hover,
    ::-webkit-scrollbar-track:active {
      background: rgba(0,0,0, 0.2);
    }
  }

  /* END */
}
